.form-contacts__label {
  .reset();
  display: block;
  width: 260px;
  margin-bottom: 6px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  color: @turquoise;
}

.form-contacts__wrapper {
  position: relative;
  margin-bottom: 34px;
}

.form-contacts__input {
  .reset();
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  height: 52px;
  width: 260px;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px;
  color: @darkGrey;
  background-color: transparent;
  border-bottom: 2px solid @black;
  outline: none;

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: @turquoise;
  }

  &:focus,
  &:active {
    border-color: @turquoise;
  }

  &:hover + .form-contacts__input-icon,
  &:focus + .form-contacts__input-icon,
  &:active + .form-contacts__input-icon {
    fill: @turquoise;
  }
}

.form-contacts__input-icon {
  position: absolute;
  right: 8px;
  bottom: 17px;
  z-index: 1;
  fill: rgba(204, 204, 204);
}

.form-contacts__input-icon--email {
  bottom: 15px;
  right: 4px;
}

@media (min-width: @tablet-width) {
  .form-contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .form-contacts__label {
    width: 167px;
    margin-top: 17px;
    margin-bottom: 0;
  }

  .form-contacts__wrapper {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-contacts__input {
    flex-grow: 1;
    width: 500px;
    padding-left: 18px;
    font-size: 19px;
  }

  .form-contacts__input-icon {
    right: 26px;
    fill: rgba(193, 193, 193);
  }

  .form-contacts__input-icon--email {
    right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts {
    width: 875px;
    padding-right: 225px;
  }

  .form-contacts__label {
    width: 113px;
    padding-left: 62px;
  }

  .form-contacts__input {
    width: 700px;
  }

  .form-contacts__input-icon {
    right: 8px;
  }

  .form-contacts__input-icon--email {
    right: 4px;
  }
}
