.page-main__title {
  .reset();
  position: relative;
  margin-top: 75px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  z-index: 2;
}

.page-main__title--catalog,
.page-main__title--form {
  display: block;
  padding-top: 74px;
  padding-bottom: 74px;
  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -64px;
    border-top: 1px solid @colorGreyDecorLine;
  }

  .page-main__title {
    margin-top: 160px;
    font-size: 43px;
    line-height: 50px;
  }

  .page-main__title--catalog,
  .page-main__title--form {
    margin-top: 0;
    padding-top: 102px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-top: 162px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__title--catalog,
  .page-main__title--form {
    padding-bottom: 94px;
  }
}
