.production {
  margin-bottom: 58px;
  padding-left: 30px;
  padding-right: 30px;
}

.production__wrapper {
  padding-top: 20px;
  padding-bottom: 32px;
  border: 1px solid @grey;
}

.production__title {
  .reset();
  margin-bottom: 20px;
  padding-left: 90px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.production__video {
  display: block;
  margin-bottom: 30px;
}

.production__button-play {
  display: none;
}

.production__text {
  .reset();
  margin-bottom: 25px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: @darkGrey;
}

.production__button-order {
  margin-left: 33px;
  width: 188px;
}
