.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 490px;
  background: url("../img/hero-mobile@1x.jpg") center top no-repeat;
}

.products__list {
  .reset();
}

.products__item {
  display: block;
  min-height: 103px;
  background-color: @turquoise;

  &:hover {
    min-height: 108px;
    background-color: #59d5bc;
  }

  &:nth-child(2) {
    background-color: @darkTurquoise;
  }

  &:nth-child(2):hover {
    background-color: #46c1ae;
  }
}

.products__link {
  display: block;
  width: 260px;
  padding: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: @white;

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
