.reviews {
  padding-top: 28px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid @grey;
}

.reviews__title {
  .reset();
  margin-bottom: 28px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.reviews__item {
  .reset();
  margin-bottom: 35px;
}

.reviews__text {
  .reset();
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: @darkGrey;
}

.reviews__author {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  line-height: 17px;
}

.reviews__author-email {
  .reset();
  font-size: 17px;
  line-height: 17px;
}

.reviews__buttons {
  display: flex;
  margin-bottom: 38px;
}

.reviews__button {
  .reset();
  box-sizing: content-box;
  width: 128px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: @white;
  border: 1px solid @colorGreyDecorLine;
}

.reviews__prev {
  border-right: none;
}
