@import "colors.less";
@import "mixins.less";
@import "page-header.less";
@import "main-nav.less";
@import "site-list.less";
@import "page-main.less";
@import "catalog.less";
@import "products.less";
@import "promo.less";
@import "characteristics.less";
@import "features.less";
@import "page-footer.less";
@import "social.less";
@import "copyright.less";

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Arial", sans-serif;
}

.button {
  .reset();
  box-sizing: content-box;
  display: inline-block;
  width: 256px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @darkGrey;
  background-color: @white;
  border: 2px solid @darkGrey;
}

.button:hover {
  color: @white;
  background-color: @darkGrey;
}

.button:focus,
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
